#root {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.content {
  padding: 2rem;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
}
